body, html{
  height:100%;
}
body{
  background: url("img/office.jpg") no-repeat;
  background-size: 100%;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.andyDancer {
  position:absolute;
  width: 200px;
}

.michaelDancer {
  position:absolute;
  width: 300px;
}

.tobyDancer {
  position:absolute;
  width: 400px;
}